<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
</head>
<body>
<style>
	.red {
		color: red;
	}

	[v-cloak] {
		display: none;
	}
</style>
	<h1>Vue</h1>

	<div id="app" v-cloak>
		<p v-bind:class="{ red: condition }" v-bind:title="makeTooltip()">{{ title }}</p>

		<div v-if="condition">
			TRUE
		</div>
		<div v-else>
			FALSE
		</div>
		<div v-show="condition">
			V-SHOW
		</div>

		<div v-for="(item, index) in filteredList" v-bind:key="item.title">
			{{ item.name }} - {{ item.website }} - {{ index }}
		</div>

		<hr>

		<users-list v-bind:users="list" v-on:click="removeUser($event)"></users-list>

		<hr>

		<users-list v-bind:users="filteredList"></users-list>

		<hr>

		<div is="users-list" v-bind:users="filteredList"></div>

		<hr>

		<button type="button" v-on:click="toggleTableShow">
			{{ tableShowButton }}
		</button>

		<input type="text" v-bind:value="title">
		<input type="text" v-model="title">

	</div>

	<template id="table">
		<div>
			<div v-for="(item, index) in users" v-bind:key="item.title">
				{{ item.name}} - {{ item.website}} - {{ index }}
				<button type="button" v-on:click="removeUser(item.id)">
					x
				</button>
			</div>
			<strong>Total users: {{ total }}</strong>
		</div>
	</template>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		var UsersList = {
			template: '#table',
			props: {
				users: {
					type: Array,
					required: true
				}
			},
			computed: {
				total: function () {
					return this.users.length
				}
			},
			methods: {
				removeUser: function (id) {
					this.$emit('click', id)
				}
			}
		}

		// ============================

		window.vm = new Vue({
			el: '#app',
			components: {
				'users-list': UsersList
			},
			data: function () {
				return {
					tableShow: true,
					title: 'Тестовая строка из данных',
					tooltip: 'Всплывающая подсказка!',
					condition: true,
					list: [],
					testClasses: 'red'
				}
			},
			computed: { // вычисляемые свойства
				tableShowButton: function() {
					return this.tableShow ? 'Скрыть' : 'Показать'
				},
				filteredList: function () {
					return this.list.filter(function (item) {
						return item.website.endsWith('.org');
					});
				}
			},
			created: function () {
				this.loadData()
			},
			watch: {
				tableShow: {
					handler: 'tableShowHandler'
				}
			},
			methods: {
				removeUser: function(id) {
					this.list = this.list.filter(function (item) {
						return item.id !== id
					})
				},
				tableShowHandler: function() {
					console.log(1);
				},
				toggleTableShow: function() {
					this.tableShow = !this.tableShow
				},
				makeTooltip: function () {
					return 'VIP ' + this.tooltip
				},
				addToList: function (event, count) {
					console.log(event);
					this.list.push({ title: 'добавленный элемент'});
				},
				loadData: function() {
					var self = this;

					axios.get('https://jsonplaceholder.typicode.com/users')
						.then (function(response) {
							self.list = response.data
						})
				}
			}
		});

	</script>
</body>
</html>